@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~sweetalert2/dist/sweetalert2";
@import "~@fortawesome/fontawesome-svg-core/styles";

@import "elements/card";
@import "elements/navbar";
@import "elements/buttons";
@import "elements/transitions";

@import "components/server-error";

$in_progress: orange;
$traded: green;
$rejected: red;

  //Text color for different status
.in_progress
{
    color:$in_progress;
}

.traded
{
 color:$traded;
}

.rejected
{
    color:$rejected;
}


//Background colors
$background-type: linear-gradient(
    to right,
    #FFDD00,
    #FBB034
  )
  ;
.gradient-custom-2 {
    background: $background-type;
    max-width: 2000px;
    height: 1200px;
    
}
.vh-100 
{
   height: 100vh !important; //100vh
}

.main-layout
{
  height:1200px;
}

//Container sizing
.container-lg
{  
  height: 100vh; //100vh
  width: 100vw;
  max-width: 2000px;
  padding-right: 0rem;
  padding-left: 0rem;
}

.mt-4 {
  margin-top: 0rem !important;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}
.left-pan i {
  padding-left: 10px;
}

//Cards
.card
{
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    overflow: auto;
    max-height: 500px;

}
.media {
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.media-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}


.card.pokemon
{
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;

  max-width: 300px;
}

.card.master-pokemon-card
{
   width: 1100px !important;
   max-height: 500px;
   overflow: auto;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: .45rem;
 
}
::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27, .4);
  border-radius: 3px;
}
::-webkit-scrollbar-track{
  background: transparent;
}

#someText {
  color: blue;
}

//Delete modal background
.modal-backdrop
{
  --bs-backdrop-bg: rgba(0, 0, 0, 0.65) !important;
}

//End of css customization
