<template>
  <section class="vh-100 ">
    <div class="row height d-flex justify-content-center align-items-center">
      <h1 class="h1" style="color:black;  text-align: center;">
        What Pokemon are you finding for
      </h1>
      <p></p>
      <!--Search Bar-->
       
      <div class="col-md-6">
        <form class="searchForm" v-on:submit.prevent>
        <div class="form">
          <div class='input-group'>
            <input
              type="text"
              class="form-control form-input"  
              placeholder="Find Pokemon"
              v-model="searchPokemon"
            >
            <div class="input-group-append">
              <button type='submit' class='btn btn-primary' v-on:click.prevent='liveSearch'>Search</button>
              <button type='submit' class='btn btn-danger' v-on:click.prevent='resetSearch'>Reset Search</button>
            </div>
          </div>
        </div>
        </form>
      </div>
      <p></p>
      <div class="d-flex justify-content-center">
        <!-- Pokedex Card-->
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <!--Icon-->
                  </div>
                  <div class="media-body text-center">
                    <router-link to="/pokedex"> <h3>Pokedex</h3> </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of pokedex card-->
         <!-- Trade Station-->   
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <!--Icon-->
                    </div>
                    <div class="media-body text-center">
                     <router-link to="/trading"> <h3>Trade Station</h3> </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <!--End of Trade Station card-->
      </div>
      <!-- Claimed Pokemon modal-->
      <b-modal id="modal-center" title="Claimed Pokemon" v-if="hasError">
        <p class="my-4">{{ this.validationErrors }}</p>
      </b-modal> 
      <!--End of Claimed Pokemon modal -->
      <!-- <h1 v-if='hasError'> {{this.validationErrors}}</h1> -->
      <!--Pokemon Cards-->
      <div class="d-flex justify-content-around">
        <div class="row justify-content-md-center">
          <b-row align-h="between">
          <b-card v-for="pokemon in pokemonMerged"
            tag="article"
            style="max-width: 20rem;"
            class="mb-2"
          >
          <img class="rounded mx-auto d-block" :src="pokemon.sprites.front_default" ></img> 
            <b-card-text>
             <strong> {{ pokemon.name }} </strong>
              <p>
               <span> Base Experience: {{pokemon.base_experience}} </span> </br>
               <span>Items: 
                <span v-if="pokemon.held_items.length === 0">No items available  </br></span> 
                <span v-else v-for="itemsObj in pokemon.held_items">{{itemsObj.item.name}}  </br> </span>
                </span>
             <span> Type: <span v-for="typeObj in pokemon.types">{{typeObj.type.name}} </span>  </br> </span>
              <span> Abilities: <span class=" mr-1" v-for="abilityObj in pokemon.abilities">{{abilityObj.ability.name}}  </br> </span></span>
              </p>
            </b-card-text>

            <b-button href="#" variant="primary" @click="claimPokemon(pokemon.id, pokemon.name)"> Claim Pokemon</b-button>
          </b-card>
        </b-row>

        </div>
      </div>
      <!--End of Pokemon card design-->
      <!--No such pokemon card-->
       <b-card v-if="this.noPokemon"  style="max-width: 20rem;"
    class="mb-2" title="Invalid pokemon"
  >
    <b-card-text>
      {{this.noPokemon}}
    </b-card-text>

   <b-button href="#" variant="danger" @click="resetSearch()">Go Home</b-button>
  </b-card>

      <!--End of card design-->
      <!--Pagination-->
       <b-row  class="row justify-content-md-center">
      <b-col md="2" class="my-1" >
        <b-pagination
          @change="onPageChanged"
          :total-rows="totalRows"
          :per-page="perPage"
          v-model="currentPage"
          class="my-0"
        />
      </b-col>
    </b-row> 
      <!--Pagination End-->
    </div>
  </section>
</template>

<script>
import axios from "axios";
import validation from "../components/Validation.vue";
export default {
  middleware: "auth",

  data() {
    return {
      pokemons: [],
      pokemonDetails: [],
      pokemonMerged: [], //Merged array of pokemon and details
      pokemonName:"", //Send pokemon name
      validationErrors: "",
      hasError: false,
      //Pagination
      paginatedPokemons: [],
      paginatePokemonLinks:"",
      perPage: 8, //Only 8 cards per page
      currentPage: 1, //Default page number
      totalRows: 0,
      pokemonsDefaultUrl: 'https://pokeapi.co/api/v2/pokemon?limit=8', //Default URL when loaded //?limit=20
      //Search function variables
      searchPokemon: '',
      searchPokemonUrl: 'https://pokeapi.co/api/v2/pokemon/',
      noPokemon: ""
    };
  },

  mounted() {
    console.log("Component mounted.");
    this.fetchPokemon(this.pokemonsDefaultUrl);
  },

  methods: {
    fetchPokemon(url) { //Allows for dynamic URL
      console.log(url);
      axios
        .get(url)
        .then(res => {
          console.log(res)
          this.pokemons = res.data.results; 
          this.paginatePokemonLinks = res.data.next; //Next pokemon pagination link
          this.totalRows = res.data.count
    
          this.fetchPokemonDetails();

          console.log(this.paginatePokemonLinks)
        })
        .catch(error => {
          console.log(error);
        });
    },
    fetchPokemonDetails() {
      console.group("This is from fetch Pokemon details");
      this.pokemonMerged = [];
      this.pokemons.forEach(pokemon => {
        axios
          .get(pokemon.url)
          .then(res => {
            this.pokemonDetails = res.data; //Details data this.pokemonDetails
            let currentPokemonDetails = Object.assign(
              pokemon,
              this.pokemonDetails
            ); //Merge both the main pokemon & details into 1 object
            this.pokemonMerged.push(currentPokemonDetails);    
          })
          .catch(error => {
            console.log(error);
          });
        return;
      });
      console.log("End");
      console.groupEnd();
    },
    claimPokemon(id, pokemonName) {
      axios
        .post("api/claimPokemon", {
          pokemon_id: id,
          pokemon_name : pokemonName
        })
        .then(res => {
          if (res && res.data && res.data.success) {
            this.$router.push({ name: 'pokedex'})
          }

          if (res && res.data && res.data.success == false) {
            this.hasError = true
            this.validationErrors = res.data.message
            this.$bvModal.show('modal-center')
          }
          //this.$router.push({ name: "pokedex" });
        })
        .catch(error => {
          console.log(error)
        });
    },
    //Live search function
    liveSearch() {
      console.log(this.searchPokemonUrl + this.searchPokemon)
      axios
        .get(this.searchPokemonUrl + this.searchPokemon)
        .then(res => {
          //console.log(res)
          this.pokemonMerged = []
          this.pokemonMerged.push(res.data);
          console.log(this.pokemonMerged)

          //console.log(this.pokemons)
          // this.paginatePokemonLinks = res.data.next; //Next pokemon pagination link
          // this.totalRows = res.data.count

          //this.fetchPokemonDetails();

          //console.log(this.paginatePokemonLinks)
        })
        .catch(error => {
          this.pokemonMerged = []
          this.noPokemon = "This pokemon does not exist";
          console.log(this.noPokemon);
        });
    },
    resetSearch()
    {
        this.fetchPokemon(this.pokemonsDefaultUrl);
        this.pokemonMerged = [];
        this.noPokemon = null;
        window.location.reload();
    },
    goHome()
    {
      this.pokemonMerged = [];
      this.fetchPokemon(this.pokemonsDefaultUrl);
      this.noPokemon = null;
      window.location.reload();
    },
  

    onPageChanged(page) {
      this.fetchPokemon(this.paginatePokemonLinks)
      //this.paginate(this.perPage, page - 1);
    }
  },

  // async asyncData () {
  //   const { data: projects } = await axios.get('/api/projects')

  //   return {
  //     projects
  //   }
  // },

  metaInfo() {
    return { title: this.$t("home") };
  }
};
</script>
