<template>
  <div class="card-body p-4 text-black">
    <div class="col d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem">
        <div class="card-body">
          <div class="card bg-info">
            <div>
              <h5 class="card-title" style="margin-top: 7px">
                Empty Library
              </h5>
            </div>
          </div>
          <p class="card-text" style="margin-top: 10px">Please Claim a Pokemon</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "noPokemonClaim",
};
</script>