<template>
   <section class="vh-100 ">
    <div class="row height d-flex justify-content-center align-items-center">
      <h1 class="h1" style="color:black;  text-align: center;">
        Your PokeDex Library
      </h1>
      <p></p>
      <!--Remove Pokemon Modal-->
      <div>
                <!--Delete Modal-->
                <b-modal id="modal-center" centered title="Delete Task">
                  <p class="my-4">Are you sure to remove this pokemon ?</p>
                  <p class="my-4"></p>
                  <template #modal-footer>
                    <div class="w-100">
                      <b-button
                        variant="secondary"
                        class="float-right"
                        @click="$bvModal.hide('modal-center')"
                      >
                        Cancel
                      </b-button>
                      <b-button
                        variant="danger"
                        class="float-right"
                        @click="removePokemon(SelectedDeletePokemon.id), $bvModal.hide('modal-center')"
                      >
                        Delete
                      </b-button>
                    </div>
                  </template>
                </b-modal>
              </div>
      <!--End of Remove Pokemon Modal-->
      <!-- Trade Pokemon Modal-->
       <div>
                <!-- Trade Modal tradePokemonModal -->
                <b-modal id="tradePokemonModal" centered title="Pokemon Trade ">
                  
                   <b-form-group id="input-group-3" label="Pokemon Users to Trade With" label-for="input-3">
                    <b-form-select
                      id="pokemonUsers"
                      v-model="selectedPokemonUser"
                    >
                    <option value="">Select User</option>
                    <option  id="pokemonUsers"
                      v-for="user in pokemonUserID":key="user.id"                  
                      v-bind:value="user.id" required>{{user.email}}</option>
                    </b-form-select>
                    </b-form-group>

                  <p class="my-4"></p>
                  <template #modal-footer > <!--v-for="id in pokemonUserID"-->
                    <div class="w-100">
                      <b-button
                        variant="secondary"
                        class="float-right"
                        @click="$bvModal.hide('tradePokemonModal')"
                      >
                        Cancel
                      </b-button>
                      <b-button
                        variant="warning"
                        class="float-right"
                        @click="tradePokemon(SelectedPokemon.id), $bvModal.hide('tradePokemonModal')"
                      >
                        Trade
                      </b-button>
                    </div>
                  </template>
                </b-modal>
              </div>

      <!--End of Trade Pokemon Modal-->

        <p></p>
        <div class="alert alert-danger" v-if="alertRemove" > {{alertRemove}}</div>
        <div class="alert alert-success" v-if="alertTrade" > {{alertTrade}}</div>
        <div class="alert alert-success" v-if="alertSuccess" > {{alertSuccess}}</div>
        <div class="alert alert-danger" v-if="alertReject" > {{alertReject}}</div>

         <div class="d-flex justify-content-center">
        <!-- Pokedex Card-->
        
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <!--Icon-->
                    </div>
                    <div class="media-body text-center">
                     <router-link to="/home"> <h3>Home</h3> </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            
          </div>
          <!--End of pokedex card-->
          <!-- Trade Station-->
        
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <!--Icon-->
                    </div>
                    <div class="media-body text-center">
                     <router-link to="/trading"> <h3>Trade Station</h3> </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            
          </div>
          <!--End of Trade Station card-->
          </div>
         <!--Pokemon Cards--> 
          <div class="d-flex justify-content-around">
        <div class="row justify-content-md-center">
          <b-card class="master-pokemon-card">
             <noPokemonClaim v-if="renderPokemonByUser.length == 0"></noPokemonClaim>  
            <b-container class="bv-example-row">
        
              <b-row align-h="between">

          <b-card v-for="pokemon in pokemonMerged"
            tag="article"
            style="max-width: 20rem;"
            class="mb-2" border-variant="warning"
          >
          <img class="rounded mx-auto d-block" :src="pokemon.sprites.front_default" ></img> 
            <b-card-text>
             <strong> {{ pokemon.name }} </strong>
              <p>
               <span> Base Experience: {{pokemon.base_experience}} </span> </br>
               <span>Items: 
                <span v-if="pokemon.held_items.length === 0">No items available  </br></span> 
                <span v-else v-for="itemsObj in pokemon.held_items">{{itemsObj.item.name}}  </br> </span>
                </span>
             <span> Type: <span v-for="typeObj in pokemon.types">{{typeObj.type.name}} </span>  </br> </span>
              <span> Abilities: <span class=" mr-1" v-for="abilityObj in pokemon.abilities">{{abilityObj.ability.name}}  </br> </span></span>
              </p>
            </b-card-text>

            <!-- <b-button href="#" variant="primary" @click="claimPokemon(pokemon.id, pokemon.name)"> Claim Pokemon</b-button> -->
              <b-button v-b-modal.modal-center variant="danger" @click=" onSelectDeletePokemon(pokemon.id)"> Remove </b-button>
            <b-button v-b-modal.tradePokemonModal variant="warning" @click="onSelectPokemon(pokemon.id, pokemon.name)"> Trade </b-button>
          </b-card>   
     
           </b-row>
        
          </b-container>
          </b-card>
        </div>
      </div>
         <!--End of Pokemon card design-->   
    </div>
     <!-- Pagination-->
       <!-- <b-row  class="row justify-content-md-center">
      <b-col md="2" class="my-1" >
        <b-pagination
          @change="onPageChanged"
          :total-rows="totalRows"
          :per-page="perPage"
          v-model="currentPage"
          class="my-0"
        />
      </b-col>
    </b-row>  -->
      <!--Pagination End -->
    </section>
</template>

<script>
import axios from "axios";
import noPokemonClaim from "./NoPokemonClaim.vue";
export default {
  middleware: "auth",
   components: {
    noPokemonClaim,
  },
  data() {
 
    return {
      pokemons:[],
      //pokemonDetails: [],
      pokemonMerged:[], //Merged array of pokemon and details
      renderPokemonByUser:[],
      SelectedPokemon:null, //Can be used to trade (pokemon ID)
      SelectedDeletePokemon:null, //Can be used to delete (pokemon ID)
      pokemonUserID:[],
      selectedPokemonUser:"", //Outgoing pokemon owner
      pokemon_name:"", // To be saved into the database for trading

      // //Pagination
      // paginatedPokemons: [],
      // paginatePokemonLinks:"",
      // perPage: 4, //Only 8 cards per page
      // currentPage: 1, //Default page number
      // totalRows: 0,

      //Alert
      alertRemove:"",
      alertTrade:"",
      alertSuccess:"",
      alertReject:""
      //pokemomId: ""
    };
  },

  mounted() {
    console.log("Component mounted.");
    this.renderPokemonUser();
    this.fetchPokemonByUserID();
  },


  methods: {
    
    renderPokemonUser()
    {
        axios
        .get(`api/fetchPokemonByUser`) 
        .then(res => {

          this.renderPokemonByUser = res.data.fetchPokemonByUser; //this.pokemons = res.data.results;
          this.renderPokemonByUser.forEach((claimedPokemon) => 
          {
             let url = `https://pokeapi.co/api/v2/pokemon/${claimedPokemon}/`
             console.log(url);

             axios
            .get(url)
            .then(res => {
              this.pokemons = res.data; //Details data this.pokemonDetails
              let pokemonDetailsByUser = Object.assign({}, this.pokemons) //Merge both the main pokemon & details into 1 object
              this.pokemonMerged.push(pokemonDetailsByUser);

            console.log(this.pokemons);
            this.paginatePokemonLinks = this.pokemonMerged; //Next pokemon pagination link
             this.totalRows = this.paginatePokemonLinks;
 
            })
            .catch(error => {
              console.log(error)
            })

          })
       
        })
        .catch(error => {
          console.log(error);
        });
    },
    //Pass ID of selected pokemon to modal (DELETE function)
     onSelectDeletePokemon(id)
    {
      console.log(id);
      this.SelectedDeletePokemon = {id:id};
       //console.log(this.pokemonMerged)
    },
    //Pass ID of selected pokemon to modal
     onSelectPokemon(id, name)
    {
      console.log(id);
      this.SelectedPokemon = { id:id, name: name };
       //console.log(this.pokemonMerged)
    },

    removePokemon(id)
    {
      console.log(id)
      axios.delete(`api/removePokemonByUser/${id}` )
      .then((res) => {
        if (res.data.status === 'success')
        {
          //Gather each task by using the date as a key

          /*Performs a matching using 

          1. The task.date is used as the key within the tasks array and is mapped against the "each_task"
          
          2. If the id of each_task matches the task.id within the task object

          3. The task will be deleted using splice method which searches for the first occurrence of the task within the task object.

          */
          
          this.pokemonMerged.map((each_pokemon) => {
            if (each_pokemon.id === this.pokemonMerged.id)
            {
              this.pokemonMerged.splice(this.pokemonMerged[pokemonMerged.id].indexOf(pokemonMerged.id), 1)
            }
          })
          this.alertRemove = "Pokemon removed successfully";
          //location.reload();
          console.log(this.alertRemove);
        }
      })
    },
    fetchPokemonByUserID()
    {
        axios
        .get(`api/fetchPokemonUserID`) 
        .then(res => {
            this.pokemonUserID = res.data.fetchPokemonUserID;
            console.log(this.pokemonUserID);
      
        })
        .catch(error => {
          console.log(error);
        });
    },
    tradePokemon()
    {
         //this.$router.push({ name: "trading" ,  params: { id: id } })
          //console.log("Incoming User ID: " + this.selectedPokemonUser +  "Pokemon ID " + this.SelectedPokemon.id + this.SelectedPokemon.name);
          // console.log(this.selectedPokemonUser, id);

      let id = this.selectedPokemonUser;
      let url = `api/tradePokemon/${id}`;
      axios
        .put(url, {
          pokemon_id: id,
          incoming_user_id : this.selectedPokemonUser,
          pokemon_name: this.SelectedPokemon.name
          
        })
        .then((res) => {
          //navigating
            this.$router.push({
                name: 'trading', 
                hash: '#Traded'
            });
             //this.$router.push({ name: "trading", params:{ alertTrade:'Pokemon Trade in Progress'}});
             //this.alertTrade = 'Pokemon Trade in Progress'
          // if (res.data.status === 'success')
          // {
          //      console.log("Success traded pokemon");
          //    // this.alertTrade = 'Pokemon Trade in Progress'
          //     this.$router.push({ name: "pokedex" });
          // }
        
        })
        .catch((error) => {
          if (error.response.status == 422) {
            this.validationErrors = error.response.data.errors;
          }
        });
    },
     onPageChanged(page) {
      this.fetchPokemon(this.paginatePokemonLinks)
      //this.paginate(this.perPage, page - 1);
    }

  },

  // async asyncData () {
  //   const { data: projects } = await axios.get('/api/projects')

  //   return {
  //     projects
  //   }
  // },

  metaInfo() {
    return { title: this.$t("home") };
  }
};
</script>