<template>

   <section class="vh-100 ">
    <div class="row height d-flex justify-content-center align-items-center">
      <h1 class="h1" style="color:black;  text-align: center;">
        Trading Station
      </h1>
      <p></p>
  
        <p></p>
        <!-- <div class="alert alert-danger" v-if="alertRemove" > {{alertRemove}}</div> -->
         <div class="d-flex justify-content-center">
        <!-- Pokedex Card-->
        
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <!--Icon-->
                    </div>
                    <div class="media-body text-center">
                     <router-link to="/home"> <h3>Home</h3> </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            
          </div>
          <!--End of pokedex card-->
          </div>
          <!--Alert Trade-->
           <div :class="{'block alert alert-warning' : (alertTrade !== '')}"> {{alertTrade}}</div>
           <!--End of alert trade-->
          <!--Pokemon Trade Request Table-->
          <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-12 col-xl-10">
          <div class="card mask-custom">
            <div class="card-body home"  >
              <div class="text-center pt-3 pb-2">
                <i class="fas fa-solar-panel fa-5x"></i>
                <h2 class="my-4">Pokemon Trade Request</h2>
              </div>        
              <noTradeRequests v-if="pokemonTradeRequests.length == 0"></noTradeRequests>          
              <table class="table table-bordered" v-for="request in pokemonTradeRequests "> 
                <thead>
                  <tr>
                    <th scope="col">User</th>
                    <th scope="col">Pokemon Name</th>
               	    <th scope="col">Trade Status</th>
                    <th scope="col">Trade Action</th>
                  </tr>
                </thead>
                <tr v-for="details in request" >
                  <td
                    style="
                      word-wrap: break-word;
                      min-width: 160px;
                      max-width: 160px;
                    "
                  > {{details.user.name}}
                  <p></p>
                   </td>

                  <td
                    style="
                      word-wrap: break-word;
                      min-width: 160px;
                      max-width: 160px;
                    "
                  >  {{details.pokemon_name}}  
                  </td>
                  <td>
                    <p v-if="details.trade_status.status== 'In Progress'" class="in_progress">
                    {{details.trade_status.status}}
                    </p>
                    <p v-if="details.trade_status.status== 'Traded'" class="traded">
                    {{details.trade_status.status}}
                    </p>
                    <p v-if="details.trade_status.status== 'Rejected'" class="rejected">
                    {{details.trade_status.status}}
                    </p>
                  </td>
                  <td>
                     <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-success" @click="approveTrade(details.id, details.outgoing_user_id, details.pokemon_name)">
                          Approve 
                        </button>
                      <b-button
 
                        variant="danger"
                        @click="rejectTrade(details.id)" 
                        >Reject</b-button
                      >
                    </div>
                  </td>
                 
                </tr>
              </table>
              </p>

              </div>
            </div>
          </div>
        </div>
           <!--End of Pokemon Trade Request Table-->
    </div>
    </section>    


</template>
<script>
import axios from "axios";
import noTradeRequests from "./NoTradeRequests.vue";
export default {
  middleware: "auth",
  components: {
    noTradeRequests,
  },
  data() {
 
    return {

      //To update
      outgoing_user_id: "",
      pokemonName:"",

      pokemonTradeRequests:[],
      approvePokemon:[],
      rejectPokemon:[],

      pokemons:[],
      pokemonMerged:[], //Merged array of pokemon and details
      //pokemonDetails: [],
      //renderPokemonByUser:[],
      // alertRemove:"",
       alertReject:"",
       alertTrade:"",
       isTradeInProgress: false,
      //pokemomId: ""

    };
  },

  mounted() {
    console.log("Component mounted.");

    this.fetchPokemonTradeRequest();
    if (this.$route.hash == '#Traded') {
      this.alertTrade = 'Pokemon Trade in Progress'
      this.isTradeInProgress = true
    } else if (this.$route.hash == '#Rejected') {
      this.alertReject = 'Pokemon Trade Rejected'
    } else if (this.$route.hash == 'Success') {
      this.alertSuccess = 'Pokemon Trade Success'
    }
     //this.renderPokemonUser();
  },


  methods: {
   
    fetchPokemonTradeRequest()
    {
        axios
        .get(`api/fetchPokemonTradeRequests`) 
        .then(res => {
          if (res && res.data) {
            //console.log(res.data)

            this.pokemonTradeRequests = res.data;
            console.log(this.pokemonTradeRequests)

          }

        })
        .catch(error => {
          console.log(error);
        });
    },
    approveTrade(id, outgoing_user_id, pokemonName)
    {
      console.log(outgoing_user_id, pokemonName)
      let url = `api/approveTrade/${id}`
        axios
        .put(url, {
          outgoing_user_id : outgoing_user_id,
          pokemon_name : pokemonName
        }) 
        .then(res => {
            console.log("Success");
            this.$router.push({ name: "pokedex", params: { alertSuccess: 'Pokemon Traded Successfully' } });
            // this.pokemonTradeRequests = res.data;
            // console.log(this.pokemonTradeRequests);
      
        })
        .catch(error => {
          console.log(error);
        });
    },
    rejectTrade(id)
    {
      let url = `api/rejectTrade/${id}`;
       axios
        .put(url, {
           
        }) 
        .then(res => {
          this.$router.push({ name: "pokedex", params: { alertReject: 'You have rejected a trade request' } });
           window.location.reload();
           // this.pokemonTradeRequests = res.data;
            //console.log(this.pokemonTradeRequests);
      
        })
        .catch(error => {
          console.log(error);
        });
    }
   
   
  },

  // async asyncData () {
  //   const { data: projects } = await axios.get('/api/projects')

  //   return {
  //     projects
  //   }
  // },

  metaInfo() {
    return { title: this.$t("home") };
  }
};
</script>