<template>
  <div class="main-layout gradient-custom-2">
    <navbar />

    <div class="container-lg mt-4">
      <child />
    </div>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'

export default {
  name: 'MainLayout',

  components: {
    Navbar
  }
}
</script>
